Bio/Pipeline/scripts/job_setup.dtd

<!DOCTYPE job_setup [

   <!ELEMENT job_setup (job+, fixed_input+)>
   <!ELEMENT job (process_id, analysis_id, queue_id, retry_count, fixed_input+)>   
   <!ATTLIST job id CDATA #REQUIRED>
   <!ELEMENT analyis_id (#PCDATA)>
   <!ELEMENT process_id (#PCDATA)>
   <!ELEMENT queue_id (#PCDATA)>
   <!ELEMENT retry_count (#PCDATA)>
   <!ELEMENT fixed_input (name, input_iohandler_id)>
   <!ELEMENT name (#PCDATA)>
   <!ELEMENT input_iohandler_id (#PCDATA)>

]>

